#content
  .welcome
    %p <strong>the bootstrap</strong> is a support net for self-driven people.

    %p we think entrepreneurship in .ch is <strong>broken</strong>.

    %p we want to create <strong>real value</strong> for clients, not investors

    %p we meet regularly to share and <strong>support each other</strong>.

  %a.login(href='/auth/twitter') Sign in with Twitter
