#content
  .tagline
    .logo the bootstrap
    %p is a support net for self-driven people

  .welcome
    %p
      we believe 
      %strong
        %span.symbol u
        entrepreneurship
      in switzerland is
      %strong
        %span.symbol +
        broken

    %p
      we want to
      %strong
        %span.symbol S
        create
      real value for
      %strong
        %span.symbol U
        clients
      , not investors

    %p  
      we 
      %strong
        %span.symbol /
        meet
      regularly to
      %strong
        %span.symbol c
        share
      and support each other

  %a.button.login(href='/auth/twitter')
    %span.symbol t
    Sign in with Twitter

.footer
  %span.small-logo the bootstrap
  is a one-man operation brought to you by
  %a(href='https://twitter.com/nddrylliog') @nddrylliog
