#content
  = render :partial => 'topbar', :locals => { :section => 'events' }

  = link_to '/' do
    &larr; Back to all events

  = render :partial => 'inline', :locals => { :event => @event }

  %h3 Feedback

  = render :partial => 'feedback/index', :locals => { :feedbacks => @event.attendances.map { |a| a.feedback }.reject { |f| f.nil? } }
