#content
  .welcome
    Hi! The world is yours.

    %h3 What now?

    %p
      For starters, here are a few
      %a(href='/pages/tips') tips
      you can read to help get you in a productive mindset.

    %p
      Then, browse the list of upcoming
      %a(href='/events')
      to see where and when you can meet up!

    %h3 That's it?

    %p
      Basically, yes!

    %p
      There are much bigger plans for the bootstrap, but
      they require a certain budget and planning. In the meantime,
      scheduling meet-ups to discuss together is the best we can do.

