/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.topbar {
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #111;
    font-family: WCRoughTrad;
    font-size: 16pt;
    color: white;
    min-height: 100%;
}

.content {
    background: #222;
    max-width: 800px;
    margin: 0 auto 0 auto;
    min-height: 100%;
    border-radius: 5px;
    border: 1px solid #444;

    padding: 50px 40px 20px 40px;
}

h3 {
    font-weight: normal;
    font-size: 28pt;
    margin-bottom: 10px;
}

.clear {
    clear: both;
}

.symbol {
    font-family: WebSymbolsRegular;
}

.tagline {
    margin: 0 auto 80px auto;
    font-size: 32pt;
}

.small-logo, .logo {
    font-family: FFFTusjBold;
}

.small-logo a:hover {
    text-decoration: none;
}

.small-logo strong {
    font-weight: normal;
    color: #893;
}

.account {
    margin-top: 30px;
    font-size: 12pt;
}

.logout {
    float: right;
    margin-right: -20px;
}

.small-logo {
    margin-top: -30px;
    font-size: 43pt;
    color: white;
}

.logo {
    font-size: 82pt;
    color: #893;
}

.tagline p {
    font-size: 30pt;
    margin-top: 0;
    margin-bottom: 60px;
}

.welcome {
    font-size: 20pt;
}

strong {
    color: #893;
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a, a:visited {
    color: #D48;
}

.footer {
    padding: 20px;
    text-align: center;
    font-size: 16pt;
}

a.button, a.button:visited {
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #D32;
    color: #EEE;
    padding: 12pt;
}

