// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events .event h3 {
    margin: 0;
}

.participants {
    display: block;
    float: right;
    color: #777;
    font-size: 13pt;
    margin-bottom: 30pt;
}

.participants ul {
    list-style-type: none;
}

.participants ul li {
    margin-bottom: 5px;
}

.attend, .new-event a, .delete a {
    float: right;
}

.event-details {
    font-family: OblikBold;
    color: #999;
    vertical-align: middle;
    font-size: 70%;
    margin-left: 35pt;
}

.event {
    font-size: 14pt;
}

.event .attending, .event .not-attending {
    float: left;
    margin-right: 15px;
    display: inline-block;
    font-size: 42pt;
}

.not-attending {
    color: #444;
}

.attending {
    color: #893;
}

.event {
    margin-top: 30px;
}

.event h3.compact {
    margin: 0;
}

.event h3 a, .event h3 a:visited {
    display: block;
    color: #eee;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

.event h3 a:hover {
    background-color: #333;
}

.note {
    color: #777;
    font-size: 13pt;
}

#when {
    width: 220pt;
}

