.create-event a, .delete a {
    float: right;
}

div.feedback, form.feedback {
    width: 450pt;
    font-size: 13pt;
    margin-left: 10px;
    margin-top: 40px;
    border-radius: 5px;
    padding: 8px 10px 8px 10px;
    background: #333;
    color: #ddd;
    border-left: 5px solid #777;
}

.feedback p {
    margin-top: 1em;
    margin-bottom: 0;
}

a.url, a.url:visited {
    padding: 0;
    margin: 0;
    padding-right: 3px;
    border-radius: 2px;
    font-size: 11pt;
    border: 1px solid white;
    display: inline-block;
    background: #555;
    color: #eee;
}

a.url:hover {
    background: white;
    color: #222;
    text-decoration: none;
}

a.url img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: white;
    padding: 2px;
}

form.feedback a.button {
    float: right;
    margin-top: -40pt;
}

