.create-event a, .delete a {
    float: right;
}

.feedback {
    margin-left: 10px;
    margin-top: 40px;
    border-left: 5px solid #ddd;
    padding-left: 10px;
}

form textarea, form input {
    background-color: #181818;
    color: #eee;
    font-family: WCRoughTrad;
    border: 1px solid white;
    margin: 0;
    padding: 3px;
    font-size: 20pt;
    border-radius: 3px;
}

form input.invalid {
    border-color: #923;
}


form input.valid {
    border-color: #2d3;
}

form input {
    width: 300pt;
}

form textarea {
    width: 100%;
    min-height: 200px;
}

form.feedback a.button {
    float: right;
    margin-top: -50pt;
}

