// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events .event h3 {
    margin: 0;
}

.participants {
    color: #777;
}

.attend {
    float: right;
}

.event {
    margin-top: 30px;
}

.event h3 {
    font-weight: normal;
    font-size: 28pt;
}

.event h3 a, .event h3 a:visited {
    color: #289;
}
