
.feedback {
    margin-left: 10px;
    border-left: 5px solid #ddd;
    padding-left: 10px;
}

form.feedback textarea, form.feedback input {
    color: #eee;
    font-family: WCRoughTrad;
    border: 1px solid white;
    margin: 0;
    padding: 3px;
    font-size: 20pt;
    background: #222;
    border-radius: 3px;
}

form.feedback input {
    width: 300pt;
}

form.feedback textarea {
    width: 100%;
    min-height: 200px;
}

form.feedback a.button {
    float: right;
    margin-top: -50pt;
}
