@font-face {
    font-family: 'ExistenceLight';
    src: url('Existence-Light-webfont.eot');
    src: url('Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Existence-Light-webfont.woff') format('woff'),
         url('Existence-Light-webfont.ttf') format('truetype'),
         url('Existence-Light-webfont.svg#ExistenceLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExistenceUnicaseLight';
    src: url('Existence-UnicaseLight-webfont.eot');
    src: url('Existence-UnicaseLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('Existence-UnicaseLight-webfont.woff') format('woff'),
         url('Existence-UnicaseLight-webfont.ttf') format('truetype'),
         url('Existence-UnicaseLight-webfont.svg#ExistenceUnicaseLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExistenceStencilLight';
    src: url('Existence-StencilLight-webfont.eot');
    src: url('Existence-StencilLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('Existence-StencilLight-webfont.woff') format('woff'),
         url('Existence-StencilLight-webfont.ttf') format('truetype'),
         url('Existence-StencilLight-webfont.svg#ExistenceStencilLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('WebSymbols-Regular-webfont.eot');
    src: url('WebSymbols-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('WebSymbols-Regular-webfont.woff') format('woff'),
         url('WebSymbols-Regular-webfont.ttf') format('truetype'),
         url('WebSymbols-Regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FFFTusjBold';
    src: url('FFF_Tusj-webfont.eot');
    src: url('FFF_Tusj-webfont.eot?#iefix') format('embedded-opentype'),
         url('FFF_Tusj-webfont.woff') format('woff'),
         url('FFF_Tusj-webfont.ttf') format('truetype'),
         url('FFF_Tusj-webfont.svg#FFFTusjBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WCRoughTrad';
    src: url('WC_RoughTrad.otf');
    font-weight: normal;
    font-style: normal;
}


