
a.login {
    background-image: url('/assets/bird_48_black.png');
    background-repeat: no-repeat;
    padding-left: 58px;
    height: 58px;
    display: block;
    font-size: 26pt;
    margin: 100pt auto 0 auto;
    width: 230pt;
}
